<%- layout('layouts/main') %>


<div class="col-md-5 offset-md-3 bg-success">
  <div class="card text-center mt-5  border-success bg-light">
    <div class="card-body ">
      <h1 class="card-title h2">ğˆğ§ğ¬ğ­ğšğ ğ«ğšğ¦ ğ€ğ©ğ©</h1>  
      <img src="/img/instagram.png" style="width: 30%;"/>
      <a href="/login" class="btn btn-success btn-block mt-4">
        Login with Instagram
      </a>
    </div>
  </div>
</div>


